@import "tailwindcss";

@theme {
  --font-sans: "Onest", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes fade-in-modal {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-modal {
  animation: fade-in-modal 0.3s ease-out forwards;
}

.cart-phone {
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.3);
}